---
---
@charset "utf-8";

// Our variables
$text-family:       'Noto Sans', Helvetica, Arial, sans-serif;
$title-family:      'Questrial-edpenz', 'Questrial', sans-serif;

$base-font-size:    1rem;
$small-font-size:   $base-font-size * 0.875;

$base-line-height:  1.5;
$grid-unit:         $base-font-size * $base-line-height;

$background-color:  #f9f9f9;

$text-color-dark:   #333;
$text-color-medium: #888;
$text-color-light:  #bbb;

// Section sizes
$nav-width:         8 * $grid-unit;
$content-width:     28 * $grid-unit;

$footer-height:     4 * $grid-unit;

// Animation
$ease-cubic:        cubic-bezier(0.65, 0.05, 0.36, 1);
$ease-in-cubic:     cubic-bezier(0.55, 0.06, 0.68, 0.19);
$ease-out-cubic:    cubic-bezier(0.22, 0.61, 0.36, 1);

// Screen size breakpoints
$site-width-medium: 38 * $grid-unit;
$site-width-large:  52 * $grid-unit;

@mixin when-small() {
  @media screen and (max-width: $site-width-medium) { @content; }
}

@mixin when-large() {
  @media screen and (min-width: $site-width-large) { @content; }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "reset",

        "animation",
        "layout",
        "text",

        "about",
        "landing",
        "paper",
        "software",

        "../font/_questrial.scss"
;
