---
layout: default
category: software
---
<h1>Software</h1>
<h2>A selection of personal software projects</h2>
<nav>
  <ul>
    {% for post in site.posts %} {% if post.category == 'software' %}
      <li>
        <a href="{{ post.url }}" class="block">
          {% if post.thumbnail %}<img src="{{ post.thumbnail }}" />{% endif %}
          <h2 class="title">{{ post.title }}</h2>
          <h3 class="subtitle">{{ post.subtitle }}</h3>
        </a>
      </li>
    {% endif %} {% endfor %}
  </ul>
</nav>
