<nav class="page-nav">

    <div class="site-title">edpe<span>.</span>nz</div>

    <ul class="site-nav">
      <li><a href="{{ "/profile" | prepend: site.baseurl }}"{% if page.url contains "/profile" %} class="selected"{% endif %}><span class="title">Profile<span></a></li>
      <li><a href="{{ "/software/" | prepend: site.baseurl }}"{% if page.url contains "/software/" %} class="selected"{% endif %}><span class="title">Software<span></a></li>
      <li><a href="{{ "/academia/" | prepend: site.baseurl }}"{% if page.url contains "/academia/" %} class="selected"{% endif %}><span class="title">Academia<span></a></li>
    </ul>

    <ul class="page-tags">
      <li><a href="{{ "/software/android/" | prepend: site.baseurl }}"{% if page.tags contains "android" %} class="selected"{% endif %}><span class="title">#android<span></a></li>
      <li><a href="{{ "/software/desktop/" | prepend: site.baseurl }}"{% if page.tags contains "desktop" %} class="selected"{% endif %}><span class="title">#desktop<span></a></li>
      <li><a href="{{ "/software/pebble/" | prepend: site.baseurl }}"{% if page.tags contains "pebble" %} class="selected"{% endif %}><span class="title">#pebble<span></a></li>
      <li><a href="{{ "/software/web/" | prepend: site.baseurl }}"{% if page.tags contains "web" %} class="selected"{% endif %}><span class="title">#web<span></a></li>
      <li><a href="{{ "/software/java/" | prepend: site.baseurl }}"{% if page.tags contains "java" %} class="selected"{% endif %}><span class="title">#java<span></a></li>
      <li><a href="{{ "/software/c_c++/" | prepend: site.baseurl }}"{% if page.tags contains "c" %} class="selected"{% endif %}><span class="title">#c/c++<span></a></li>
      <li><a href="{{ "/software/html/" | prepend: site.baseurl }}"{% if page.tags contains "html" %} class="selected"{% endif %}><span class="title">#html<span></a></li>
      <li><a href="{{ "/software/javascript/" | prepend: site.baseurl }}"{% if page.tags contains "javascript" %} class="selected"{% endif %}><span class="title">#javascript<span></a></li>
    </ul>

</nav>
