.profile {
  margin-left: 2 * $grid-unit;
  margin-bottom: 1 * $grid-unit;

  // Portrait picture
  & > img {
    width: 10 * $grid-unit;
    height: 10 * $grid-unit;
    margin-bottom: 2.5 * $grid-unit;

    border-radius: 50%;

    -webkit-filter: saturate(0) brightness(1.25);
    filter: saturate(0) brightness(1.25);

    transition:
      -webkit-filter 300ms $ease-out-cubic,
      filter 300ms $ease-out-cubic;

    &:hover {
      -webkit-filter: none;
      filter: none;
    }
  }

  // External links
  a {
    display: block;
    margin-bottom: 0.5 * $grid-unit;

    & > * {
      vertical-align: middle;
    }

    img {
      width: 0.75 * $grid-unit;
      height: 0.75 * $grid-unit;
      margin-right: 0.5 * $grid-unit;
    }

    h1 {
      font-size: 1.125 * $base-font-size;
      line-height: $grid-unit;
    }

    span {
      color: $text-color-medium;
    }

    &:hover span {
      color: black;
    }
  }

}
