/**
 * Styles that need to remain active even after all animation classes have been removed
 */
main {
  transition: transform 400ms $ease-out-cubic, opacity 400ms $ease-out-cubic;
}



/**
 * Animations to be run on page exit
 */
.anim-exit {

  main {
    opacity: 0.0;

    transition-duration: 300ms;
    transition-timing-function: $ease-out-cubic;
  }

}



/**
 * Animations to be run on page entrance
 */
.anim-enter {

  main {
    transform: translateY(4 * $grid-unit);
    opacity: 0.0;
  }

}
