/**
 * Layout common to all pages
 */

// Ensure the page-content block at least fills screen height
html, body, .site-content {
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.page-content {
  min-height: 100%;
}

//
body {
  background-color: $background-color;
}

// Fix site width and centre when between screen-size breakpoints.
.site-content {
  margin: auto;

  width: $site-width-medium;

  @include when-small() { width: auto; }
  @include when-large() { width: $site-width-large; }
}


// Main content block is centred if there's enough space, otherwise it fills the
// space between the nav bar and right margin.
main {
  display: block; // Fix for IE
  margin: auto;

  margin-left: $nav-width + 2 * $grid-unit;
  margin-right: 2 * $grid-unit;

  padding-top: 2 * $grid-unit;
  @include when-small {
    padding-top: 3.5 * $grid-unit;
    margin-left: $grid-unit;
    margin-right: $grid-unit;
  }

  @include when-large() {
    margin-left: $nav-width + 4 * $grid-unit;
    margin-right: $nav-width + 4 * $grid-unit;
  }
}


// Nav bar is simply fixed width and left aligned
nav.page-nav {
  position: absolute;

  top: 2 * $grid-unit;
  width: 8 * $grid-unit;
  text-align: right;

  .site-title {
    font-size: 1.5 * $grid-unit;
  }

  input {
    display: none;
  }

  label {
    display: none;
    position: absolute;

    width: 1.5 * $grid-unit;
    height: 1.5 * $grid-unit;

    top: $grid-unit;
    right: $grid-unit;

    cursor: pointer;
    opacity: 0.3;
  }

  ul {
    margin-top: 2 * $grid-unit;

    list-style-type: none;
  }

  .site-nav li {
    line-height: 1 * $grid-unit;

    font-size: 1.25 * $base-font-size;
    font-family: 'Questrial', sans-serif;
    color: $text-color-medium;

    // Ensure following block is grid-aligned
    padding-bottom: 0.5 * $grid-unit;

    &:last-child:nth-child(odd) {
      padding-bottom: 0 * $grid-unit;
    }
  }

  .page-tags li {
    line-height: 1 * $grid-unit;

    font-size: $base-font-size;
    color: $text-color-light;

    opacity: 0.0;
    visibility: hidden;

    transition: opacity 200ms $ease-out-cubic;

    .category-software & {
      opacity: 1.0;
      visibility: visible;
    }

    .anim-exit &, .anim-enter & {
      opacity: 0.0;
    }
  }

}

// Override nav layout when on mobile
@media screen and (max-width: $site-width-medium) { nav.page-nav {
  position: fixed;
  box-sizing: border-box;
  z-index: 1;

  top: 0;
  width: 100%;
  text-align: left;

  padding: $grid-unit;
  padding-left: 2 * $grid-unit;

  background: $background-color;

  label {
    display: block;
  }

  input ~ div {
    overflow: hidden;
    height: 0;

    transition: height 300ms $ease-out-cubic;
  }

  input:checked ~ div {
    height: calc(100vh - #{3.5 * $grid-unit});
  }

  .anim-exit & input ~ div {
    height: 0;
  }

  .site-nav li {
    font-size: 1.5 * $base-font-size;
    padding-bottom: 1 * $grid-unit;
  }

  .page-tags li {

  }
}}

nav.page-nav.hidden {
  visibility: hidden;
}


// Site footer sticks to lower of page content or screen edge
.site-footer {
  box-sizing: border-box;

  height: $footer-height;
  margin-top: -$footer-height;

  padding-left: 2 * $grid-unit;
  padding-right: 2 * $grid-unit;
  padding-top: $footer-height / 2 - $grid-unit;

  line-height: $grid-unit;

  text-align: center;
  color: $text-color-light;

  a {
    color: $text-color-medium;
  }
}

main {
  padding-bottom: $footer-height;
}



/**
 * Common but not global styling rules
 */

// Pages where the main content is a list of links
main nav li {
  margin-top: $grid-unit;

  a {
    display: block;
  }

  h2 {
    line-height: $grid-unit;
  }

  h3 {
    font-family: $text-family;
    line-height: $grid-unit;
  }

  a:hover h3 {
    color: $text-color-dark;
  }

  img {
    float: right;
    height: 2 * $grid-unit;

    opacity: 0.5;
    -webkit-filter: saturate(0);
    filter: saturate(0);

    transition:
      opacity 300ms $ease-out-cubic,
      -webkit-filter 300ms $ease-out-cubic,
      filter 300ms $ease-out-cubic;

    @include when-small() {
      display: none;
    }
  }

  a:hover img {
    opacity: 1.0;
    filter: none;
    -webkit-filter: none;
  }
}


// Spacing of tiles and subtitles to align with nav bar
main > h1 + h2 {
  margin-top: 0.5 * $grid-unit;
}

main > p:first-of-type, main > nav:first-of-type {
  margin-top: 2 * $grid-unit;
}


// Extra info that inlines when small, and floats when there's enough space
main > .aside {
  position: relative;
  display: block;

  float: right;
  clear: right;

  @include when-small() {
    float: none;
    clear: none;
  }

  @include when-large() {
    margin-right: -$nav-width - 2 * $grid-unit;
  }
}
