/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}



/**
 * Ensure page conents can scale to viewport height
 */
html, body, .site-content {
  height: 100%;
}

.page-content {
  min-height: 100%;
}


/**
 * Site footer
 */
.site-footer {
  height: $footer-height;
  margin-top: -$footer-height;

  text-align: center;
  line-height: $footer-height;

  color: $text-color-medium;
}

.site-footer-reservation {
  height: 6em;
}

main {
  width: 20 * $grid-unit;
  margin: auto;
  padding-top: 2 * $grid-unit;
  padding-bottom: $footer-height;
}

/**
 * Main navigation
 */
nav.page-nav {
  position: absolute;
  top: 2 * $grid-unit;

  width: 8 * $grid-unit;
  text-align: right;

  ul {
    margin-top: 2 * $grid-unit;

    width: 100%;

    list-style-type: none;
  }

  .site-title {
    font-size: 26pt;
  }

  .site-nav li {
    line-height: 1.5 * $grid-unit;

    font-size: 16pt;
    font-family: 'Questrial', sans-serif;
    color: $text-color-medium;
  }

  .page-tags li {
    line-height: 1 * $grid-unit;

    font-size: 12pt;
    color: $text-color-light;
  }
}

nav.page-nav.hidden {
  visibility: hidden;
}


/**
 * Page content
 */
.site-content {
  width: 960px;

  margin: auto;
}



/**
 * Post lists
 */
main nav li {
  margin-top: $grid-unit;

  h2 {
    line-height: $grid-unit;
  }

  h3 {
    line-height: $grid-unit;
  }
}


/**
 * Posts
 */
