.layout-paper {

  h1 {
    margin-bottom: 0.5 * $grid-unit;

    font-size: 1.25 * $grid-unit;
    line-height: 1.5 * $grid-unit;
  }

  h3 {
    line-height: 1.5;

    & + p {
      margin-top: 24px;
    }
  }

}
