.layout-software {

  // Wrapper syncs the realtive size and position of foreground and backgound
  .hero > .wrapper {
    position: relative;

    .foreground {
      display: block;
      width: 100%;
      height: 100%;
    }

    .background {
      display: block;
      position: absolute;

      opacity: 0.5;
      pointer-events: none;
      z-index: -1;
    }
  }

  // Hero becomes full bleed block when small
  @include when-small() { .hero {
    // Need to force due to frame margins being more specific
    margin-left: -1 * $grid-unit !important;
    margin-right: -1 * $grid-unit !important;
    margin-bottom: $grid-unit !important;

    overflow: hidden;
    background-color: black;
    z-index: -2; // Behind device frame

    .wrapper > .background {
      opacity: 1.0;
    }

    > .wrapper {
      margin-left: auto;
      margin-right: auto;
      margin-top: $grid-unit;
      margin-bottom: $grid-unit;
    }
  }}

  // Sizing for specific device frames, done explicitly to avoid relayout on load
  @mixin hero-sizing($hero-width, $hero-height, $frame-left, $frame-bottom) {
    > .wrapper {
      width: $hero-width;
      height: $hero-height;

      > .background {
        left: -1 * $frame-left;
        bottom: -1 * $frame-bottom;
      }
    }

    margin-left: $frame-left;
    margin-bottom: $frame-bottom;
  }

  .aside.hero-android {
    @include hero-sizing(192px, 320px, 58px, 94px);
  }

  .aside.hero-pebble {
    @include hero-sizing(144px, 168px, 101px, 170px);
  }

  .aside.hero-desktop {
    @include hero-sizing(256px, 160px, 49px, 35px);
  }

}
