/**
 * Page defaults
 */
body {
  font-family: 'Noto-Sans', sans-serif;
  font-size: $base-font-size;
}

h1, h2, h3 {
  font-weight: normal;
}

p {
  line-height: $base-line-height;
  margin-bottom: $grid-unit;
}

/**
 * Sizes
 */
.small {
  font-size: $small-font-size;
}

h1 {
  font-family: 'Questrial', sans-serif;
  font-size: 74px;

  color: $text-color-dark;
}

h2 {
  font-family: 'Questrial', sans-serif;
  font-size: 24px;

  color: $text-color-medium;
}

h3 {
  font-family: 'Noto-Sans', sans-serif;
  font-size: $base-font-size;

  color: $text-color-medium;
}



/**
 * Colors
 */
.primary {
  color: #333;
}

.secondary {
  color: #888;
}

.tertiary {
  color: #bbb;

  a {
    color: #4d4d4d;
  }
}



/**
 * The main site styling
 */
.site-title {
  display: inline-block;

  font-family: 'Questrial', sans-serif;
  color: #4d4d4d;


  &::before {
  }

  &::before {
    content: '//';

    position: absolute;
    margin-left: -1em;
    width: 1em;

    text-align: right;

    pointer-events: none;
  }

  &::before, span {
    color: #b3b3b3;
  }
}



/**
 * Body text links
 */
a {
  color: inherit;
  text-decoration: none;

  //transition: color 0.1s ease-out; // TODO Prevent animation on page load.

  &:focus {
   outline: none;
  }

  &:hover {
   color: black;
   text-decoration: underline;
  }

}



/**
 * Major navigation links
 */
nav a {
  display: inline-block;
  text-decoration: none !important;

  .title {
    display: inline;
    position: relative;

    color: inherit;

  }

  transition: color 300ms $ease-out-cubic;

  body:not(.anim) &.selected {
    color: $text-color-dark;
  }

  &:visited {
  }

  &:focus {
    outline: none;

      & .title::before {
          transform: translateY(0.1em);
          opacity: 0.5;
      }
  }

  &:hover .title {
      color: black;
      text-decoration: none;

      transition: color 100ms $ease-out-cubic;

      &::before {
        transform: translateY(0);
        opacity: 1.0;
      }
  }

  .title::before {
    content: "";

    display: inline-block;
    pointer-events: none;
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    box-shadow: inset 0px -2px 0px 0px #333;

    transform: translateY(0.2em);
    opacity: 0.0;
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  }
}
