<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <script>document.body.classList.add("js");</script>

  <div id="smoothstate-root" class="site-content">

    <div class="page-content layout-{{ page.layout }} category-{{ page.category }}">

      <script>
        {% include smoothstate_page_config.js %}
      </script>

      {% include navigation.html %}

      <main>
        {{ content }}
      </main>

    </div>

    {% include footer.html %}

  </div>

  {% include delay_load_scripts.html %}
</body>

</html>
